{
  "env": {
    "es6": true
  },
  "rules": {
    "singleQuote": false,
    "trailingComma": "all",
    "useTabs": true,
    "tabWidth": 2,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "printWidth": 100
  }
}
