@import "./global.scss";

.container {
  max-width: 1170px;
  margin: 50px auto 0 auto;
  display: flex;
  justify-content: center;
}

.calculator {
  max-width: 520px;
  width: 100%;
  height: 800px;
  border-radius: 1em;
  padding: 1em;
  background-color: var(--bg);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  &__top {
    width: 100%;
    min-height: 150px;
    display: flex;
    word-break: break-all;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 1em;
    margin-bottom: 1em;
    &-previousOperand {
      font-size: 1.5em;
      min-height: 30px;
      color: #999;
    }

    &-currentOperand {
      font-size: 2em;
      min-height: 38px;
      margin-top: 1em;
    }
    &-memory {
      font-size: 1.5em;
      margin-top: 0.3em;
      min-height: 30px;
      color: #777;
    }
    &-operandHelper {
      font-size: 1.5em;
      margin-top: 0.3em;
      min-height: 30px;
      color: #777;
    }
  }
}

.col {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  &__btn {
    width: 55px;
    height: 55px;

    background: var(--bg-btn);
    border: none;
    color: var(--color-text);
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 16px;
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    &.primary {
      background: var(--bg-btn-primary);
      color: #fff;
      font-size: 1.8em;
    }
    &.multiplication {
      padding-top: 10px;
    }
    &.result {
      background: #2dca71;
      color: #fff;
    }
    &.dot {
      padding-bottom: 10px;
    }
    &.complex {
      display: block;
      & sup {
        font-size: 0.6em;
        transform: translateX(4px);
      }
    }
    &.zero {
      width: 130px;
    }
    &.delete {
      background: var(--bg-btn-delete);
      color: var(--color-text-delete);
    }
    &:hover {
      transform: scale(1.05);
    }
  }
  &:last-child {
    width: 200px;
  }
}
